@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

body {
  background: #ffffff;
  color: #777;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  font-weight: 300;
  padding: 0;
  margin: 0;
  margin-bottom: 6rem;
}

img{
  box-shadow: 5px 5px  #c4bcbc;
  border-radius: 2%;
  margin-left: 3%;

}


h1 {
  font-weight: 200;
  margin-left: 5%;
  font-size: 2.2rem;
  color: rgb(0, 0, 0);
  text-align:left;
}

h2{
  margin-left: 5%;
  margin-right: 5%;
  color: #494949;
}

h3{
  margin-left: 5%;
  margin-right: 5%;
}

p{
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(80, 75, 75);
}


nav {
  padding: 0;
  position:static;
  max-width: 100%;
  background: #414242;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);

}

nav::after {
  display: block;
  content: "";
  clear: both;
}

nav ul {
  padding: 0;
  margin-top: 0;
  margin-left: 5%;
  list-style: none;
  margin-left: -3%;
}

nav ul li a:focus {
  color: white;
}

nav ul li a:not(:only-child)::after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
  background: #eee;
  color: rgb(0, 0, 0);
}

.nav{
  margin-left: 0;
}

.menu{
  margin-left: 2%;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #777;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*Video youtube */

.videos {
  padding-left: 5rem;
}

footer {
  position:fixed;
  bottom: 0;
  font-size: 15px;
  width: 100%;
  text-align: left;
  align-items: flex-start;
}

.dk-footer{
  background-color: #494949;
}

footer li{
  list-style-type: none;
  display: inline;
  padding: 1%;  
}

footer a {
  color: #fcfcfc;
}

